<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Scholance</title>
</head>
<body>
    <header>
        <a href="/"><img src="../../static/images/logo.PNG" height="70px" alt="logo"></a>
        <nav>
            <ul class="nav_links">
                <li><a href="dashboard">Dashboard</a></li>
                <li><a href="projects">Projects</a></li>
                <li><a class="cta" href="projects/post"><button>Add Project</button></a></li>
                <li><a class="cta" href="profile/user"><button>Profile</button></a></li>
                <li><a class="cta" href="logout"><button>Logout</button></a></li>
            </ul>
        </nav> 
    </header>

    <section class="c g cgrid-auto">
        {% for project in data %}
            <div class="text-center gp">
                <h4 class="project-title">{{ project.project_name }}</h4>
                <h5> {{ project.info.customer }} </h5>
                <h6>{{ project.info.size }} {{ project.info.payment }}</h6> <br>
                <p class="text-preview" maxlength="30">{{ project.info.preview }}</p> 
                <a class="cta" href="/projects/{{project.info.project_url}}"><button>Apply</button></a>
            </div>
        {% endfor %}
    </section>    
</body>
</html>