@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    font-family: 'Montserrat', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 10vh;
}

.bg-main {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bg-main2 {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.profile-main-bg {
    background-color:rgba(202, 172, 123, 0.4);
}

.info {
    padding: 50px;
    background-color: rgba(202, 172, 123, 0.4);
    color: rgba(202, 172, 123, 1);
    font-size: 3ch;
    text-align: center;
}

main {
    min-height: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}
/*
.center {
    text-align: center;
    margin: auto;
}
*/
a, button {
    color: black !important;
}

header {
    background-color: white;
}

.logo {
    cursor: pointer;
    height: 200%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block !important;
    padding: 0px 20px !important;
}

.nav_links li a, a {
    transition: all 0.3s ease 0s !important;
}

.nav_links li a:hover, a:hover {
    color: rgba(202, 172, 123, 1) !important;
}

button {
    padding: 9px 25px;
    background-color: white;
    border-style: double;
    border-color: black;
    border-radius: 50px !important;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(202, 172, 123, 1);
    color:white !important;
    border-color: rgba(202, 172, 123, 1);
}

.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 
background: -webkit-linear-gradient(to right, #fccb90, #ff9022);

 W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(202, 172, 123, 0.5), rgba(202, 172, 123, 1));
}

.job-post {
    margin: 0;
}

input:focus, input:active, button:focus, button:active {
    outline: solid rgba(202, 172, 123, 1) 2px !important;
    box-shadow: none !important;
 }

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}
