<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <title>Scholance</title>
</head>
<body>
    <section class="bg-main">
    <header>
        <a href="/"><img src="../../static/images/logo.PNG" height="70px" alt="logo"></a>
        <nav>
            <ul class="nav_links">
                <li><a href="#">Services</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>
                <li><a class="cta" href="login"><button>Login</button></a></li>
                <li><a class="cta" href="signup"><button>Signup</button></a></li>
            </ul>
        </nav> 
    </header>

    <main class="center">
        <h1>Online freelancing for students done right.</h1>
    </main>
    <script defer src="main.js"></script>
</section>
</body>
</html>